body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DISABLE ERROR OVERLAY ON DEV */
iframe#webpack-dev-server-client-overlay {
  display: none !important;
}
